.avatar-holder {
	text-align: center;
}

.avatar {
	max-width: 100%;
}

.name {
	text-align: center;
}

.glyphicon {
	margin-right: 1em;
}

.course-pane-holder {
	padding-bottom: 2.5em;
}